/* General */
html, body {
	padding: 0px !important;
	margin: 0px;
}

a, .button {
	transition: all 0.2s ease-out;
	cursor: pointer;
}

a:active, a:focus, a:visited {
	text-decoration: none;
}

h4, h5 {
	float: left;
}

h5 {
	margin: 5px 0 0 0;
	width: 100%;
}

h4 {
	margin: 15px 0 10px 10px;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

/* Colors */
.background-color {
	background-color: #E67E22;
}

.grey-color {
	background-color: #999;
}

/* Toggle buttons */
.toggle-view {
	overflow: hidden;
	width: 45%;
	margin: 0 auto;
}

.toggle-view .toggle-view-option {
	float: left;
	width: 46%;
	margin-right: 1%;
	padding: 1%;
	text-align: center;
	background-color: #eaf4fb;
	color: #555;
	font-weight: bold;
	border-bottom: 3px solid #777;
	cursor: pointer;
}

.toggle-view .selected, .toggle-view .toggle-view-option:hover {
	background-color: #1f78b4;
	border-bottom: 3px solid #444;
	color: #FFF;
	text-decoration: none;
}

@media(max-width:650px) {
	.toggle-view {
		width: 90%;
	}
}
